nav, footer{
    background-color: #f3e9f1;
}
#products{
    max-width: 1000px;
    margin: 0 auto;
}
.card{
    max-width: 400px;
    margin: 0 auto;
}
.card > img{
    object-fit: cover;
    max-width: -webkit-fill-available;
}